* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* Paleta de colores */
:root {
    --bg-primary: #0b132b;    /* Prussian Blue */
    --bg-secondary: #1c2541;  /* Space Indigo */
    --accent-dark: #3a506b;   /* Dusk Blue */
    --accent-light: #afbbf2;  /* Periwinkle */
    --text-highlight: #d3fff3;/* Frozen Water */
    --main-gradient: linear-gradient(135deg, var(--bg-primary), var(--accent-dark), var(--text-highlight));
    
}


/* Body */ 
body {
    display: flex; 
    width: 100%;
    height: 100vh;
    background-color: var(--accent-light);
    padding-left: 240px;
    transition: padding-left 0.5s ease;
}

.menu-desplegable {
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    height: 100%;
    padding: 24px 16px;
    background-color: var(--accent-light);
    box-shadow: 1px 0px 10px var(--bg-secondary);
    transition: width 0.5s ease;
}

/* Boton del menu */
.menu-boton{
    position: absolute;
    top: 3.5%;
    right: -14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: var(--accent-light);
    color: var(--bg-primary);
    box-shadow: 2px 2px 5px var(--bg-secondary);
    cursor: pointer;
    transition: right 0.3s ease;
}

/* Titulo del menu */
.titulo {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 8px;
    margin-bottom: 28px;
    overflow: hidden;
}

.titulo span {
    font-size: 20px;
    font-weight: 600;
    color: var(--bg-primary);
}

/*INICIO*/
.inicio {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;

}
.inicio .item-inicio{
    position: relative;
    list-style-type: none;
    overflow: hidden;
}

.inicio .inicio-link{
    display: flex;
    padding: 0;
    color: var (var(--bg-primary));
    text-decoration: none;
    border-radius: 4px;
}
.inicio-link i{
    font-size: 20px;
    padding: 0 12px;
}
.inicio-link span{
    font-size: 14px;
    font-weight: 500;
    
}

.inicio .inicio-link:hover { /*efecto al pasar el mouse*/
    background-color: var(--accent-light);
    transform: translateX(5px);
}

/* css para la funcion del menu */

/* Cuando el body tiene la clase cerrado, el padding se achica */
body.cerrado {
    padding-left: 56px;
}

/* El menú también se achica */
body.cerrado .menu-desplegable {
    width: 56px;
}

/* Oculta los textos cuando esta cerrado */
body.cerrado .titulo span,
body.cerrado .inicio-link span {
    display: none;
}

/* Centra los iconos horizontalmente cuando esta cerrado */
body.cerrado .inicio-link {
    justify-content: center;
}
/* ------------- */