#seccion-inicio{
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    margin-left: 250px;
    width: calc(100% - 250px); /*esto hace que no se salga el texto de la pantalla*/
}

#seccion-inicio .titulo-inicio{
    text-align: center;
}

#seccion-inicio .parrafo-inicio{
    font-style: italic;
    opacity: 50%;
}
#seccion-inicio .imagenes-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}
#seccion-inicio .imagen-estudio{
    border: 1px;
    border-radius: 15%;
    width: 500px;
    height: auto;
}
#seccion-inicio .speech-informativo{
    font-style: italic;
    opacity: 50%;
}

#seccion-inicio .cronograma-grid{
    display: flex;
    gap:15px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
#seccion-inicio .hijo-grid{
    width: 400px;
    height: 150px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
#seccion-inicio .hijo-header{
    padding: 10px;
    border-radius: 15px;
    background-color: var(--bg-secondary);
    color: var(--text-highlight);
    font-style: unset;
}
#seccion-inicio .card-body{
    color: var(--text-highlight);
    border: 1px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    background-color: var(--accent-dark);
    font-style: oblique ;
}