.seccion-perfil {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    gap: 16px;
    padding: 48px 24px 24px 24px;
}

/*Titulo*/
.titulo-perfil {
    text-align: center;
    width: 100%;
    margin-bottom: 12px;
    color: var(--bg-primary);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 40px;
}